{% extends '../_base.njk' %}

{% block content %}
    <h1>New Member</h1>
    <form action="/members/new" method="post">
        <label>
            Name
            <input name="name" type="text" required/>
        </label>
        
        <label>
            Email
            <input name="email" type="email" required/>
        </label>
        
        <button type="submit">Submit</button>
    </form>
{% endblock %}