{% extends '../_base.njk' %}

{% block content %}
<h1>Books</h1>
<ol>
    {% for book in books %}
        <li>
            <a href="/books/{{ book.id }}">
                <img src="{{ book.cover_image_url }}" alt="Cover Image"/>
                <div>{{ book.title }}</div>
                <div>{{ book.author }}</div>
            </a>
        </li>
    {% endfor %}
</ol>
<a href="/books/new">+</a>
{% endblock %}