{% extends '../_base.njk' %}

{% block content %}
<h1>Books</h1>
<form action="/books" method="get">
    <label>
        Search
        <input type="text" placeholder="Search by title or author" name="search" value="{{ search }}"/>
    </label>
    <button type="submit">Search</button>
</form>
<ol>
    {% for book in books %}
        <li>
            <a href="/books/{{ book.id }}">
                <img src="{{ book.cover_image_url }}" alt="Cover Image"/>
                <div>{{ book.title }}</div>
                <div>{{ book.author }}</div>
            </a>
        </li>
    {% endfor %}
</ol>
<a href="/books/new">+</a>
{% if page != 1 %}
    <a href="/books?search={{ search }}&page={{ page - 1 }}">Previous</a>
{% endif %}
<a href="/books?search={{ search }}&page={{ page + 1 }}">Next</a>
{% endblock %}