{% extends "../_base.njk" %}

{% block content %}
    <h1>Edit: {{ title }}</h1>
    <form method="post" action="/books/{{ id }}/edit">
        <label>
            Title
            <input type="text" name="title" value="{{ title }}" required/>
        </label>

        <label>
            Author
            <input type="text" name="author" value="{{ author }}" required/>
        </label>

        <label>
            ISBN
            <input type="text" name="isbn" value="{{ isbn }}"/>
        </label>

        <label>
            Publisher
            <input type="text" name="publisher" value="{{ publisher }}"/>
        </label>

        <label>
            Year Published
            <input type="text" name="publishedDate" value="{{ published_date }}"/>
        </label>

        <label>
            Cover Image URL
            <input type="text" name="coverImageUrl" value="{{ cover_image_url }}"/>
        </label>
        
        <button type="submit">Update</button>
    </form>
{% endblock %}