{% extends '../_base.njk' %}

{% block content %}
    <h1>New Book</h1>
    <div>
        <h2>Add By ISBN</h2>
        <form action="/books/new-by-isbn" method="POST">
            <label>
                ISBN
                <input type="text" name="isbn"/>
            </label>
            <button type="submit">Submit</button>
        </form>
    </div>

    <details>
        <form action="/books/new" method="POST">
            <label>
                Title
                <input type="text" name="title" required/>
            </label>

            <label>
                Author
                <input type="text" name="author" required/>
            </label>

            <label>
                ISBN
                <input type="text" name="isbn"/>
            </label>

            <label>
                Publisher
                <input type="text" name="publisher"/>
            </label>

            <label>
                Year Published
                <input type="text" name="publishedDate"/>
            </label>

            <label>
                Cover Image URL
                <input type="text" name="coverImageUrl"/>
            </label>

            <button type="submit">Submit</button>
        </form>
        
        <summary>
            <h2>Or Add Manually</h2>
        </summary>
    </details>
{% endblock %}