{% extends '../_base.njk' %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{{ cover_image_url }}" alt="Cover Image"/>
    <div>{{ author }}</div>
    <div>{{ publisher }}</div>
    <div>{{ published_date }}</div>
    <div>{{ isbn }}</div>
    <a href="/books/{{ id }}/edit">Edit</a>
{% endblock %}