{% extends "../_base.njk" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="/auth/sign-in" method="post">
        <label>
            Email
            <input type="email" required name="email" value="{{ email }}"/>
        </label>

        <label>
            Password
            <input type="password" required name="password" {{ password }}/>
        </label>
        
        {% if incorrectLogin %}
            <div>
                Incorrect email or password - please try again
            </div>
        {% endif %}

        <button type="submit">Sign In</button>
    </form>
{% endblock %}